Repository WeatherXM/smart-contracts, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, smart-contracts, testing

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

documentation:
  - README.md
  - ./*.md
  - docs/*.md

smart-contracts:
  - src/*.sol

testing:
  - test/*.sol
  - test/*.ts

chore: update docs and natspec comments
  docs/rewardpool.md
  src/RewardPool.sol
Labels: documentation, smart-contracts

feat: deployment files for token and rewarding on the respective networks
  deploy/mainnet.js
  deploy/rewarding_arb.js
  deploy/token_eth.js
Labels: none

feat: use EIP712
  package-lock.json
  package.json
  src/RewardPool.sol
  test/rewardPool.spec.ts
Labels: smart-contracts, testing

test: update tests for eip712
  test/rewardPool.spec.ts
Labels: testing

chore: remove testing key from config
  hardhat.config.ts
Labels: none

feat: rename files and add npm scripts
  deploy/rewarding.js
  deploy/token.js
  package.json
Labels: none

chore: update sayfer audits file
  audits/sayfer.pdf
Labels: none

Update README.md
  README.md
Labels: documentation
