Repository WeatherXM/smart-contracts, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, smart-contracts, testing

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

documentation:
  - README.md
  - ./*.md
  - docs/*.md

smart-contracts:
  - src/*.sol

testing:
  - test/*.sol
  - test/*.ts

chore: remove describe.only.
  test/rewardPool.spec.ts
Labels: testing

[BE-116, WEB-5]: add claiming speed bump (#10)
  src/RewardPool.sol
  src/interfaces/IRewardPool.sol
  test/foundry/RewardPool.t.sol
  test/rewardPool.spec.ts
Labels: smart-contracts, testing

docs: update README and add docs for RewardVault and WeatherXMLicense.
  README.md
  docs/rewardpool_funding.md
  docs/rewardvault.md
  docs/weatherxmlicense.md
Labels: documentation

docs: update rules.
  README.md
Labels: documentation

[W3B-43]: update documentation (#30)
  README.md
  docs/rewardpool_funding.md
  docs/rewardvault.md
  docs/weatherxmlicense.md
Labels: documentation

feat: upfate deployment script
  .github/pull_request_template.md
  deploy/mainnet.js
Labels: none

chore: revert change to pr template
  .github/pull_request_template.md
Labels: none

fix: wrong signature in blocks
  docs/servicepool.md
Labels: documentation

fix: typo
  src/RewardPool.sol
Labels: smart-contracts

feat: add check for block validity and improve visibility
  src/WeatherXMStation.sol
  src/interfaces/IWeatherXMStation.sol
  test/foundry/WeatherXMStation.t.sol
Labels: smart-contracts

fix: typo and release storage
  src/ServicePool.sol
  src/interfaces/IServicePool.sol
  test/foundry/ServicePool.t.sol
Labels: smart-contracts

feat: add docs for deployment
  README.md
  deploy/mainnet.js
Labels: documentation

feat: add max claim wait period
  src/RewardPool.sol
  src/interfaces/IRewardPool.sol
  test/foundry/RewardPool.t.sol
Labels: smart-contracts

fix: typo
  src/ServicePool.sol
Labels: smart-contracts

feat: remove claim window from reward pool
  src/RewardPool.sol
  src/WeatherXMLicense.sol
  src/interfaces/IRewardPool.sol
Labels: smart-contracts

test: update reward pool tests
  test/foundry/RewardPool.t.sol
  test/rewardPool.spec.ts
Labels: testing

feat: update docs
  docs/rewardpool.md
Labels: documentation

feat: target london version in compilation
  hardhat.config.ts
Labels: none

feat: allow pulling rewards that were not pulled previous days
  src/RewardsVault.sol
  test/rewardPool.spec.ts
Labels: smart-contracts, testing

test: added tests about releases schedule
  test/foundry/RewardsVault.t.sol
Labels: none

docs: update reward vault docs
  docs/rewardvault.md
Labels: documentation

docs: update link for PBT
  docs/weatherStationNFT.md
Labels: documentation

chore: rename
  .github/pull_request_template.md
Labels: none

chore: rename
  .github/pull_request_template.md
Labels: none

chore: rename
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Labels: none

chore: rename
  .github/pull_request_template.md
Labels: none

feat: update deployment file
  deploy/mainnet.js
Labels: none

feat: add arbsys for block number in Arbitrum
  .gitmodules
  package-lock.json
  package.json
  src/WeatherXMStation.sol
  src/mocks/ArbSys.sol
  test/foundry/WeatherXMStation.t.sol
  test/weatherXmStation.spec.ts
Labels: smart-contracts, testing

feat: remove pausability from erc-20 token
  docs/weatherxm.md
  src/WeatherXM.sol
  src/interfaces/IWeatherXM.sol
  test/foundry/WeatherXM.t.sol
Labels: documentation, smart-contracts

chore: add sayfer audit
  audits/sayfer.pdf
Labels: none

feat: allow submitting multiple root hases if submitions were missed
  src/RewardPool.sol
  src/RewardsVault.sol
  src/interfaces/IRewardPool.sol
  test/foundry/RewardPool.t.sol
  test/foundry/RewardsVault.t.sol
  test/rewardPool.spec.ts
Labels: smart-contracts, testing

docs: updates docs and comments
  docs/rewardpool.md
  docs/rewardvault.md
  src/RewardPool.sol
Labels: documentation, smart-contracts

chore: add comments and improve function names
  src/RewardPool.sol
  src/RewardsVault.sol
Labels: smart-contracts

test: add test
  test/foundry/RewardsVault.t.sol
Labels: none

feat: remove ownable from erc20
  src/WeatherXM.sol
Labels: smart-contracts

feat: improve error messages and add tests
  src/RewardPool.sol
  src/interfaces/IRewardPool.sol
  test/rewardPool.spec.ts
Labels: smart-contracts, testing

feat: separate base rewards from boost rewards
  src/RewardPool.sol
  test/rewardPool.spec.ts
Labels: smart-contracts, testing

feat: add support for meta transactions
  src/RewardPool.sol
  src/interfaces/IRewardPool.sol
Labels: smart-contracts

test: add tests for claimFor
  test/rewardPool.spec.ts
Labels: testing

feat: remove transferRewards
  src/RewardPool.sol
  src/interfaces/IRewardPool.sol
  test/foundry/RewardPool.t.sol
  test/rewardPool.spec.ts
Labels: smart-contracts, testing
